.routerNav {
    padding-top: 50%;
}

.col-md-10{
    //background:url(/assets/home.jpg) no-repeat !important;
   // background: filter(url(data:/assets/home.jpg), blur(20px));
   // padding-top:100px;
   // background-size:cover;
    padding: 20px;
  background: #f7f7f7;

}
