/*sidebar*/

.sidebar {
    background-color: #242a33;
    height: 100%;
  }
  
  .sidebar .nav-link,
  .sidebar .navbar-brand {
    color: #687384;
  }
  
  .sidebar .nav-link:hover,
  .sidebar .navbar-brand:hover {
    color: #fff;
  }