<html>

<body>

    <h1 align="center" id=title>All User Data</h1>
    <table id="user" border="2"  class ="table" width="50%" cellpadding="2">
        <tr>
            <th>UserName</th>
            <th>Password</th>
            <th>Email</th>
            <th>firstName</th>
            <th>LastName</th>
            <th>Operation</th>
        </tr>



        <tr *ngFor="let user of users">

            <td> {{ user.userName }}</td>
            <td> {{ user.password }}</td>
            <td> {{ user.email }}</td>
            <td> {{ user.firstName }}</td>
            <td> {{ user.lastName }}</td>

            <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
                <button class="btn btn-primary" (click)="updateUser(user)">Edit</button>

            </td>
        </tr>
    </table>
</body>

</html>