<form class="col s12 white" #UserRegistrationForm="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="row">
        <div class="input-field col s6">

            <input class="validate" type="text" type="text" name="userName" [(ngModel)]="user.userName" required>
            <label data-error="required field!">UserName</label>
        </div>

        <div class="input-field col s6">

            <input class="validate" type="password" type="text" name="password" [(ngModel)]="user.password" required minlength="3">
            <label for="password" data-error="required field!">Password</label>

        </div>
        <div class="input-field col s12">
            <input class="validate" type="email" name="email" [(ngModel)]="user.email">
            <label data-error="invalid email">Email</label>
        </div>



        <div class="input-field col s6">
            <input type="text" name="firstName" [(ngModel)]="user.firstName">
            <label>FirstName</label>
        </div>

        <div class="input-field col s6">

            <input type="text" name="lastName" [(ngModel)]="user.lastName">
            <label>LastName</label>
        </div>

    </div>
    <div class="row">
        <div class="input-field col 12">

            <button [disabled]="!UserRegistrationForm.valid" type="submit" class="btn-large btn-submit">Submit</button>

        </div>
    </div>
</form>