<p>
  order-new works!
</p>
<mat-card>
  <mat-card-title>Date Picker</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Simple Date" [matDatepicker]="SimpleDate">
      <mat-datepicker-toggle matSuffix [for]="SimpleDate">

      </mat-datepicker-toggle>
      <mat-datepicker #SimpleDate ></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Filtered Date" [min]="minDate" [matDatepicker]="datefilter">
        <mat-datepicker-toggle matSuffix [for]="datefilter">
          
        </mat-datepicker-toggle>
        <mat-datepicker #datefilter ></mat-datepicker>
      </mat-form-field>


      <mat-form-field>
          <input matInput placeholder="Valid Date" [min]="minDate" [matDatepicker]="dateValid" [formControl]="dateCtrl">
          <mat-datepicker-toggle matSuffix [for]="dateValid">
            
          </mat-datepicker-toggle>
          <mat-datepicker #dateValid ></mat-datepicker>
          <mat-error align="end" *ngIf="dateCtrl.hasError('required')"></mat-error>
        </mat-form-field>

  </mat-card-content>
</mat-card>
